h1,h2,h3,h4  {
	font-family: Arial;
	color: rgb(0, 0, 0);
}

body {
	color:rgb(211, 176, 63);
}

h1 {
	color: rgb(201, 19, 131)
}

.first {
	color: rgb(25, 146, 155)
}

section {
	color: rgb(179, 25, 25)
	
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	padding:0px;
}

.content {
	max-width: 500px;
	margin: auto;
  }